@font-face {
  font-family: "AGaramondProItalic";
  src: url("../fonts/adobe-garamond/Garamond-Italic.ttf");
}

// TODO - ADD OTHER FONT-FILES


// Variables
$font: "helveticaNeue";
$font-size: 18px;
$gutter: 169px;


// GLOBAL STYLES
body{
    margin:0px;
}

#site {
    font-family: $font;
    font-size: $font-size;
}

.max-width-wrapper {
  max-width: 1392px;
  margin: 0px auto;
}

.content-wrapper {
    margin: 0px $gutter;
}

.content-section {
  margin: 0px -#{$gutter};
  padding-left: $gutter;
  padding-right: $gutter;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-family: HelveticaNeue;
  text-transform: uppercase;
}

h2 {
  font-family: "AGaramondProItalic";
  font-style: italic;
  font-weight: lighter;
  font-size: 30px;
  margin-top: 0px;
}

h3 {
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-family: HelveticaNeue;
  text-transform: uppercase;
}

a {
  color :inherit;
  text-decoration: none;
}

p {
  font-style: HelveticaNeue;
  font-weight: lighter;
}

input {
  background-color: transparent;
  outline: 0;
  border: 0;
  border-radius: 0;
  font-size: 24px;
  font-weight: lighter;
  line-height: 50px;
}


.video-rows { // Custom video styles
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .video-small-with-caption {
    width: calc(100%/6);
    margin-bottom: 3em;
    margin-top: 1em;

    .small-video-thumb {
      background: linear-gradient(to bottom right, #19B5FE, #36D7B7); /* Standard syntax */;
      height: 150px;
    }
  }

  .video-large-with-caption {
    .large-video-thumb {
      position: relative;
      background-size: cover;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      .play-icon {
        position: relative;
        height: 80px;
        width: 80px;
        border: 2px solid white;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        .css-play {
          margin-left: 33px;
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 22.5px solid white;
          transition: 0.5s ease-in-out;
        }
        .play-text {
          transition: 0.25s ease-in-out;
          font-style: italic;
          font-weight: lighter;
          font-family: "AGaramondProItalic";
          opacity: 0;
          color: white;
          margin-left: 20px;
        }
      }
    }
    &:hover {
      .play-icon {
        width:140px;
        .css-play {
          margin-left: 30px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 15px solid white;
        }
        .play-text {
          opacity: 1;
          transition: 0.6s ease-in-out;
        }
      }
    }
  }
}

.video-thumb-caption {
  font-size: 16px;
  padding: 1em;

  span {
    font-weight: bold;
  }
}

.btn {
  border-radius: 50px;
  padding: 1.25em 3.5em;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

// END GLOABL STYLES --------------

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 1em;
    color: #888;
    font-size: 16px;
    max-width: 1892px;

    .action-button-row {
      display: flex;
      align-items: center;

      .btn {
        background-color: #888;
        color: white;
        padding: 1em 2em;
        text-transform: none;
      }
      .action-button {
        margin: 0px 1em;
        font-weight: lighter;
      }
    }
    .contact-and-account {
      display: flex;
      .contact,
      .account {
        margin: 0px 1em;
      }
    }
}

.stage {
    padding-top:10em;
    padding-bottom:10em;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-image: url("../img/hero.jpg");
    background-size: cover;

    .stage-hero-text {
      max-width: 50%;
      .todays-lesson-desc {
        margin-top: 1em;
      }
      .start-lesson-btn {
        background-color: #eee;
        margin-top: 4em;
        color: black;
        text-transform: none;
      }
    }
}

.subscribe-and-download {
    width:100%;
    display: flex;

    .subscribe {
        display: flex;
        align-items: flex-end;
        background:black;
        color:white;
        width:75%;
        padding-left: $gutter;
        margin-left: -#{$gutter};
        padding-top: 7em;
        padding-bottom: 7em;

        input {
          color: white;
          border-bottom: 1px solid white;
          width: 100%;
          margin-top: 1em;
          transition: 0.5s ease-in-out;
          &:focus {
            width:95%;
          }
        }

        .left-float {
          width: 66.66%;
          padding-right: 4em;
          p{
            max-width: 550px;
          }
        }
        .right-float {
          width: 70%;
          .btn {
            margin-right:10px;
          }
          a{
            text-decoration: underline;
            margin-left:10px;
          }
        }

        .subscribe-btn {
          border: 1px solid white;
        }

    }
    .download-app {
        width:25%;
        padding: 89px;
        background: url("../img/img_banner.jpg");
        background-size: cover;
        padding-right: $gutter;
        margin-right: -#{$gutter};
        margin-bottom: -3em;
        color: white;
        .btn {
          border: 1px solid white;
          margin-top:3em;
        }
    }
}

.more-lessons { // BEGIN MORE LESSONS
    margin-top: 5em;
    margin-bottom: 9em;

    .more-lessons-header {
      margin-top: 3em;
    }

    input {
      border-bottom: 2px solid black;
      width: 100%;
      margin-top: 2em;
    }
}

.more-lessons-videos {
  display: flex;
  flex-direction: column;
  margin-left: -#{$gutter};
  margin-right: -#{$gutter};
  width: calc(100% + 338px);

  .large{

    $imageList: img1, img2_big, img3, img4;

    :first-child{
      .large-video-thumb {
        background-image: url("../img/#{nth($imageList, 1)}.jpg");
      }
    }
    :nth-child(2){
      .large-video-thumb {
        background-image: url("../img/#{nth($imageList, 2)}.jpg");
      }
    }
    :nth-child(3){
      .large-video-thumb {
        background-image: url("../img/#{nth($imageList, 3)}.jpg");
      }
    }
    :nth-child(4){
      .large-video-thumb {
        background-image: url("../img/#{nth($imageList, 4)}.jpg");
      }
    }
  }

  .large-video-row {
    display: flex;
    flex-direction: row;
  }

  .video-large-with-caption {
    width:25%;
    transition: 0.5s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }

    .video-thumb-caption {
      padding: 50px;
    }
  }
  .see-all-row {
    width:100%;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 7em;

    .see-all {
      border-bottom: 3px solid black;
    }
  }
} // END MORE LESSONS

.topics-to-choose { //BEGIN TOPICS TO CHOOSE
  width:100%;
  background: black;
  position: relative;
  padding-top: 3em;
  padding-bottom: 3em;

  .topics-to-choose-header {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .video-thumb-caption{
    color: white;
  }

  .topics-to-choose-more-topics {
    position: absolute;
    right: 0px;
    bottom: -90px;
    color: white;
    background-color: black;
    padding: 2em 1em;
    width: 33.33%;
  }
} // END TOPICS TO CHOOSE

.recommended-for-you { //BEGIN RECOMMENDED FOR YOU
  width: 100%;
  margin-top: 12em;
  margin-bottom: 10em;

  .recommended-for-you-header {
    color: black;

  }
} //END RECOMMENDED FOR YOU

.footer {
  width:100%;
  height:1000px;
  background-image: url("../img/footer.png");
  background-size: contain;
  background-position: top;
}
